
.newResource {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    border: solid 1px;
    border-radius: 10px;
}

.newResourceAttributes {
    margin: 20px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
}

.addPictures {
    width: 300px;
    margin: 20px;
    border: solid 1px;
    border-radius: 10px;
}
